/* masthead */
.customizable_wrapper,
.reviews_block {
	background: #f8ffe8!important;
	background: -moz-radial-gradient(center, ellipse cover,  #f8ffe8 0%, #e3f5ab 44%, #b7df2d 100%)!important;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f8ffe8), color-stop(44%,#e3f5ab), color-stop(100%,#b7df2d))!important;
	background: -webkit-radial-gradient(center, ellipse cover,  #f8ffe8 0%,#e3f5ab 44%,#b7df2d 100%)!important;
	background: -o-radial-gradient(center, ellipse cover,  #f8ffe8 0%,#e3f5ab 44%,#b7df2d 100%)!important;
	background: -ms-radial-gradient(center, ellipse cover,  #f8ffe8 0%,#e3f5ab 44%,#b7df2d 100%)!important;
	background: radial-gradient(ellipse at center,  #f8ffe8 0%,#e3f5ab 44%,#b7df2d 100%)!important;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=1 )!important;
}

/* header */
.header {
	background: #3D5E37!important;
	color: #CCC!important;
	border-bottom: 1px solid #67810B!important;
	border-top: 4px solid #AAB654!important;
	text-shadow: 1px 1px 0 #111317!important;
}


/*nav menu */
.main_nav ul li a:hover, 
.main_nav ul li.current_page_item > a, 
.main_nav ul li.current-menu-parent > a, 
.sf-menu ul li.current_page_item a, 
.sf-menu ul li.current-menu-item a,

.bottom_toolbar .content_nav span a:hover, .other_actions .action_block a:hover, .other_actions .action_block a.engaged_action {
	background: #12230f!important;
	background: -moz-linear-gradient(top,  #12230f 0%, #3d5e37 100%)!important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#12230f), color-stop(100%,#3d5e37))!important;
	background: -webkit-linear-gradient(top,  #12230f 0%,#3d5e37 100%)!important;
	background: -o-linear-gradient(top,  #12230f 0%,#3d5e37 100%)!important;
	background: -ms-linear-gradient(top,  #12230f 0%,#3d5e37 100%)!important;
	background: linear-gradient(to bottom,  #12230f 0%,#3d5e37 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12230f', endColorstr='#3d5e37',GradientType=0 )!important;
}
.nav_divider .darker, .split_darker {
	background: #12230f!important;
}
.nav_divider .lighter, .split_lighter {
	background: #67810B!important;
}
/*drop down menu*/
.sf-menu ul li {
	background: #3D5E37!important;
}
.sf-menu ul li a {
	border-bottom: 1px solid #12230f!important;
	border-top: 1px solid #67810B!important;
}

/* reviews */
.reviews_block {
	color: #3D5E37!important;
	-webkit-box-shadow: inset 0 -9px 11px -5px rgba(2, 27, 3, .5), inset 0 9px 11px -5px rgba(2, 27, 3, .5)!important;
	   -moz-box-shadow: inset 0 -9px 11px -5px rgba(2, 27, 3, .5), inset 0 9px 11px -5px rgba(2, 27, 3, .5)!important;
			box-shadow: inset 0 -9px 11px -5px rgba(2, 27, 3, .5), inset 0 9px 11px -5px rgba(2, 27, 3, .5)!important;
}
.reviews_block .reviews .reviewer_pic img {
	border: 1px solid #3D5E37!important;
}
.review_pullquote {
	color: #3D5E37!important;
	text-shadow: 1px 1px 0 #f8ffe8!important;
}

/* bottom toolbar */
.bottom_toolbar {
	background: #3D5E37!important;
	border-left: none;	
	border-top: 1px solid #b7df2d!important;
}
.sidebar_toolbar {
	background: none!important;
}


.divider,
.close_right_content {
	background: #AAB654!important;
}
.toc_nav ul li a:hover, 
#recentcomments li.recentcomments:hover, 
.widget.widget_recent_entries ul li:hover, 
.widget ul li:hover,

.toc_nav ul li.current_page_item a, 
.toc_nav ul li.current-menu-item a {
	border-left: 5px solid #AAB654!important;
}
a:hover, 
a:active,
article.hentry blockquote,
article p:nth-of-type(1)::first-letter,
.meta_details .meta_pullquote [class^="icon-"], 
.meta_details .meta_pullquote [class*=" icon-"],
.author_links a { 
	color: #AAB654!important;
}


.sidebar aside .section_title, 
.sidebar .widget h3,

.cats_and_tags li a, 
.wp-tag-cloud li a, 
.tagcloud a {
	background: #3D5E37!important;
}

.sidebar aside .section_title .nav_divider, 
.sidebar .widget h3 .nav_divider {
	top: 0;
}

/*
selection enhancement
---------------------------
---------------------------
*/
::selection {
	background: #AAB654!important;
	color: #FFF!important;
}
::-moz-selection {
	background: #AAB654!important;
	color: #FFF!important;
}




/*
media queries
---------------------------
---------------------------
*/

@media screen and (max-width: 800px) {
	.main_nav {
		border-top: 1px solid #67810B!important;
		box-shadow: 0 -1px 0 #12230f!important;
	}
}


